:root {
    --sfl-light-blue: rgb(6, 144, 176);
    --sfl-dark-blue: rgb(21, 48, 95);
    --sfl-gray: rgb(184, 184, 184);
    --sfl-white: rgb(234, 234, 234);
  }

body {
    background-image: linear-gradient(to right, var(--sfl-gray), var(--sfl-white));
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--sfl-white);
}

nav {
    display: flex;
    background-image: linear-gradient(to right, var(--sfl-dark-blue), var(--sfl-light-blue));        justify-content: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 30px;
    z-index: 1;
}
    
nav ul {
    display: flex;
    align-items: center;
    padding: 0 10%;
    list-style: none;
    justify-content: space-around;
}
    
nav ul li a {
    font-size: 16px;
    padding: 0 15px;
    color: var(--sfl-white);
    transition: 0.2s;
    text-transform: uppercase;
}

.hero {
    padding-top: 150px;
    transform-style: preserve-3d;
    transition: transform 2s;
        }

.hero img {
    border-style: none;
    border-radius: 50%;
    margin: 0 auto;
    max-width: 540px;
    display: block;
}

.hero:hover {
    transform: rotateY(180deg);
}

.logo-front {
    position: absolute;
  }
  
  .logo-front, 
  .logo-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .logo-back {
    transform: rotateY(180deg);
  }

  #aboutus {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aboutus {
    width: 90%;
    height: 80vh;
    background-color: white;
    margin: auto;
    margin-top: 1100px;
    padding: 30px;
    border: 5px solid var(--sfl-dark-blue);
  }

  .container {
    height: 500px;
    width: 1000px;
    padding: 20px;
    display: block;
    position:static;
    justify-content: space-between;
    align-items:flex-start;
    /* border: 5px solid red; */
  }

  /* .aboutus-section {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 30px;
    margin-top: -100px;
    height: auto;
    width: 800px;
  }*/
    h2 {
      color: var(--sfl-light-blue);
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
    }
    .container h2 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .container .aboutus-text {
      display: block;
      align-items: center;
      justify-content: right;
    }
    .aboutus-text {
      color: var(--sfl-dark-blue);
      width: 400px;
      height: auto;
      border: 5px solid var(--sfl-gray);
      padding: 10px;
      margin-left: 550px;
      /* display: block;
      align-items: center;
      justify-content: right; */
      margin-top: -280px;
    }

    .aboutus-image {
      height: 350px;
      width: 370px;
      background-size: cover;
      background-position: center;
      border: 5px solid var(--sfl-light-blue);
      border-radius: 70%;
      background-image: linear-gradient(to right, #09162C, var(--sfl-light-blue));
      }

    #javi {
      height: 345px;
      width: auto;
      border: 8px solid var(--sfl-dark-blue);
      border-radius: 70%;
      background-size: cover;
      background-position: left;
      }

    #services {
      display: flex;
      align-items: center;
      justify-content: center;
      }
    
    .service {
      width: auto;
      height: 80vh;
      /* background-color: white; */
      margin: auto;
      margin-top: 500px;
      /* padding: 30px; */
      border: 5px solid var(--sfl-dark-blue);
      }

    .service-name {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
    
   /* h2 {
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -500px;
      /* margin-right: -300px;
      z-index: 2 
   }*/

    .tile {
      border: 3px solid var(--sfl-dark-blue);
      border-radius: 10px;
      width: 300px;
      height: 300px;
      background: white;
      position: relative;
      margin: 20px;
      background-size: cover;
      background-position: center;
      }
    
    .tire-changers {
      background-image: url("assets/corghi-tire-changer.png");
      }
    
    .wheel-balancers {
      background-image: url("assets/corghi-wheel-balancer.png");
      }

    .alignment-machines {
        background-image: url("assets/corghi-wheel-aligner.png");
        }

    .text {
        position: absolute;
        height: 65px;
        width: 85%;
        left: 0;
        bottom: 0;
        /* z-index: 2; */
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.2s;
        padding: 20px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        }

      .text:hover {
        height: 175px;
        transition: 0.3s;
        }
      
      .text h3 {
        margin-top: 3px;
        font-size: 130%;
        }
      
      .content {
        color: black;
        display: block;
        }
      
      /* .button {
        border: 5px solid lightblue;
        border-radius: 10px;
        width: 160px;
        margin-bottom: 100px;
        margin-left: 10px;
        } */
