:root {
    --sfl-light-blue: rgb(6, 144, 176);
    --sfl-dark-blue: rgb(21, 48, 95);
    --sfl-gray: rgb(184, 184, 184);
    --sfl-white: rgb(234, 234, 234);
  }

body {
    background-image: linear-gradient(to right, var(--sfl-gray), var(--sfl-white));
    margin: auto;
    padding: 0;
}

h1 {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--sfl-white);
}

nav {
    display: flex;
    background-image: linear-gradient(to right, var(--sfl-dark-blue), var(--sfl-light-blue));
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 30px;
    z-index: 1;
}
    
nav ul {
    display: flex;
    align-items: center;
    padding: 0 10%;
    list-style: none;
    justify-content: space-around;
}
    
nav ul li a {
    font-size: 16px;
    padding: 0 15px;
    color: var(--sfl-white);
    transition: 0.2s;
    text-transform: uppercase;
}

#home.hero {
  display: block;
  height: 100vh;
}

.hero {
    padding-top: 150px;
    transform-style: preserve-3d;
    transition: transform 2s;
        }

.hero img {
    border-style: none;
    border-radius: 50%;
    margin: 0 auto;
    max-width: 540px;
    display: block;
}

.hero:hover {
    transform: rotateY(180deg);
}

.logo-front {
    position: absolute;
  }
  
  .logo-front, 
  .logo-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .logo-back {
    transform: rotateY(180deg);
  }

  .logo-back .review-insert {
    border: 2px solid var(--sfl-dark-blue);
    border-radius: 50%;
    margin: 0 auto;
    width: 540px;
    height: 340px;
    background-image: linear-gradient(to right, var(--sfl-light-blue), var(--sfl-gray));
  }

  p.review-insert {
    font-style: italic;
    font-size: 30px;
    padding: 30px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #aboutus.aboutus {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100vh;
    background-color: white;
    margin: auto;
    padding: 30px;
    border: 5px solid var(--sfl-dark-blue);
  }

  .container {
    height: 500px;
    width: 1000px;
    padding: 20px;
  }

    h2 {
      color: var(--sfl-light-blue);
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
    }

    .container h2 {
      margin-left: 100px;
    }

    .container .aboutus-text {
      display: block;
      align-items: center;
      justify-content: right;
    }
    .aboutus-text {
      color: var(--sfl-dark-blue);
      width: 400px;
      height: auto;
      border: 5px solid var(--sfl-gray);
      padding: 10px;
      margin-left: 550px;
      margin-top: -280px;
    }

    .aboutus-text h3 {
      justify-content: center;
      display: flex;
    }

    .aboutus-text p {
      font-style: italic;
    }

    .aboutus-image {
      height: 350px;
      width: 370px;
      background-size: cover;
      background-position: center;
      border: 5px solid var(--sfl-light-blue);
      border-radius: 70%;
      background-image: linear-gradient(to right, #09162C, var(--sfl-light-blue));
      }

    #javi {
      height: 345px;
      width: auto;
      border: 8px solid var(--sfl-dark-blue);
      border-radius: 70%;
      background-size: cover;
      background-position: left;
      }

      #services {
        border-top:45px solid transparent;
        margin-top:150px;
        height: 100vh;
      }

    .tile-container {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: row;
      }
    
    #services.service > h2 {
      text-align: center;
    }

    .service-name {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }

    .tile {
      border: 3px solid var(--sfl-dark-blue);
      border-radius: 10px;
      width: 300px;
      height: 300px;
      position: relative;
      margin: 20px;
      background-size: cover;
      background-position: center;
      }
    
    .tire-changers {
      background-image: url("corghi-tire-changer.PNG");
      }
    
    .wheel-balancers {
      background-image: url("corghi-wheel-balancer.PNG");
      }

    .alignment-machines {
        background-image: url("corghi-wheel-aligner.png");
        }

    .text {
        position: absolute;
        height: 65px;
        width: 86.5%;
        left: 0;
        bottom: 0;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.2s;
        padding: 20px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        }

    .text:hover {
        height: 175px;
        transition: 0.3s;
        }
      
    .text h3 {
        margin-top: 3px;
        font-size: 130%;
        }
      
    .content {
        color: black;
        display: block;
        }
      
    .button {
        border: 5px solid var(--sfl-light-blue);
        border-radius: 10px;
        width: 160px;
        margin-bottom: 100px;
        margin-left: 10px;
        }

    .contact {
        width: 100%;
        height: 100vh;
        padding: 75px 0 50px 0;
        text-align: center;
        background-color: var(--sfl-dark-blue)
        }
      
    .contact p {
        margin-bottom: 50px;
        }
      
    .contact h2, .contact p {
        color: white;
        }
      
    .contact-form {
        max-width: 800px;
        display: flex;
        text-align: left;
        max-width: 1100px;
        margin: 0 auto;
        color: white;
        }
      
    .contact-form label {
        display: block;
        margin-bottom: 9px;
        }
      
    .message {
        display: flex;
        flex-direction: column;
        width: 60%;
        }
      
    .message textarea {
        border-radius: 5px;
        border: 0px;
        }
      
    .contact-details {
        flex: 1;
        margin-right: 50px;
        }
      
    .contact-details input {
        width: 100%;
        border-radius: 5px;
        border: 0px;
        padding: 15px 20px;
        margin-bottom: 20px;
        }
      
    .message button {
        color: rvar(--sfl-dark-blue);
        border: 0;
        border-radius: 5px;
        background: lightblue;
        width: 140px;
        height: 40px;
        margin-top: 40px;
        margin-left: auto;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3x;
        }
      
    .message button:hover {
        background: black;
        color: white;
        transition: 0.2s;
        }

    footer {
        width: 100%;
        height: auto;
        }

    .socials {
        color: white;
        list-style: none;
        width: 100%;
        height: auto;
        }

    li {
        list-style: none;
        display: inline-block;
        padding: 10px;
      }
      
      @media (max-width: 800px) {
        body {
          font-size: 90%; 
          max-width: 100%;
          height: 100%;
          margin: 0;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          transform: scale(1.1);
        }

        nav {
          display: none;
        }

        .logo-front {
          width: 100%;
          position: relative;
          margin-left: 70%;
        }

        #aboutus.aboutus {
          background-color: transparent;
          border: none;
          margin-top: 100px;

        }

        .aboutus-text {
          margin-left: 450px;
          width: 100%;
          height: auto;
        }
        
        #services.service > h2 {
          margin-left: 500px;
        }

        #services {
          width: 100%;
        }

        .tile-container {
          width: 100%;
          height: 100vh;
          position: absolute;
          margin-top: 20px;
          margin-left: 300px;
          transform: scale(1.5);
 
        }

        .tile {
          width: 100%;
          height: auto;
        }

        .tiles {
          justify-content: space-around;
          align-items: center;
          text-align: center;
          width: 100%;
          height: auto;
          margin: 0;
          background: none;
      }
        .contact {
          padding: 100px;
          width: 800px;
          overflow-x:hidden;
          height: auto;
        }

        .content {
          overflow: hidden;
        }

        /* .contact {
          width: 100vh;
          height: auto;
          margin: 0;
        }

        .contact-form {
          width: 100%;
          margin: 20px;
        } */

/*     
        #navbar {
            display: none;
        }
        
        #welcome-section.container {
            margin-bottom: -100px;
        }
        
        .aboutme, #wholeabout {
            width: 100%;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            transform: scale(0.90);
            margin-left: -40px;
        }
        
        #aboutme-text {
            position: absolute;
            transform: translate(17%, 15%);
            width: 100%;
            margin-left: 0;
            margin-top: 100px;
            padding: 20px;
        }
    
        .tiles {
            margin: 400px 0 0 10px;
            width: 100%;
        }
    
        .project-tile {
            margin-bottom: -80px;
        }
    
        .cv {
            margin: 650px 0 -150px 0;
            width: 100%;
        }
    
        #contact {
            border: none;
        }
        
        footer {
            width: 100%;
        } */
    } 
